**Задание**

- Создать оконное приложение которое позволяет ввести диапазон поиска;
- Достаёт некоторую инфу (обязательно средний возраст погибших мужчин).

Загрузка данных

In [44]:
from tkinter import *
import pandas as pd

titanik = pd.read_csv("titanic.csv", index_col = 0)

def analize_data(df):
    '''
        Функция отвечает за анализ
        переданного ей участка данных.
        Честно говоря, я не запомнил, что
        требуется сделать, потому будет 
        что придумаю (думаю не принципиально)
    '''
    
    cond_str = cond.get()
    
    # точно помню что просили средний возраст 
    # погибших мужчин
    print(
        "Средний возраст погибших мужчин",
        df.query("(Survived == 0) & (Sex == 'male')")["Age"].mean()
    )
    
    # А в excel вырлюнем таблицу сопряженности между полом и смертностью
    pd.crosstab(
        df["Survived"], df["Sex"]
    ).to_excel("result.xlsx")

    
def make_analysis():
    
    start, end = cond.get().split(":")
    analize_data(titanik.loc[int(start):int(end)])
    

root = Tk()

Label(text = "Введите условие для отбора <start>:<end>").pack()
cond = Entry(); cond.pack()
Button(
    text = "Произвести анализ",
    command = make_analysis
).pack()

root.mainloop()

Средний возраст погибших мужчин 37.125

In [19]:
titanik.groupby("Sex")["Age"].mean()

Sex
female    29.396424
male      31.014338
Name: Age, dtype: float64

In [35]:
analize_data(titanik)

Средний возраст погибших мужчин 32.32077956989247

In [43]:
titanik

,Name,PClass,Age,Sex,Survived,SexCode
PassengerID,,,,,,
1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
...,...,...,...,...,...,...
1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1313,"Zimmerman, Leo",3rd,29.00,male,0,0

In [47]:
pd.read_csv("titanic.csv", index_col = 0).query("Sex == 'male'")[["Survived", "Sex"]].to_excel("male_info.xlsx")