**Лабораторки по `pandas` для `numpy`**

In [1]:
import pandas as pd
import numpy as np

# Лаб 27

Имена для ряда и его индекса.

In [9]:
test_ser = pd.Series(np.random.rand(10))

test_ser.name = "случайные числа"
test_ser.index.name = "индекс"
test_ser

индекс
0    0.463135
1    0.715577
2    0.272704
3    0.347563
4    0.719057
5    0.624911
6    0.883744
7    0.050246
8    0.497564
9    0.133732
Name: случайные числа, dtype: float64

Оказалось при обращении по индексам произвольного типа можно делать срезы.

In [17]:
countries = pd.DataFrame(
    {
        "name" : ["Belarus", "Russia", "Ukraine", "Kazahstan"],
        "population" : [9.5, 143.5, 45.5, 17.04],
        "square" : [2724902, 17125191, 207600, 603628]
    },
    index = ["BY", "RU", "UK", "KZ"]
)

countries["BY":"UK"]

       name  population    square
BY  Belarus         9.5   2724902
RU   Russia       143.5  17125191
UK  Ukraine        45.5    207600

**Задание**

Поместите данные в объект Series (используйте ассоциированные метки)
произведите поиск информации с помощью меток.

Оаказалось, что ассоциированные метки - это тоже самое, что и индекс.

In [3]:
pd.Series(np.random.rand(200))

0      0.066252
1      0.680952
2      0.721328
3      0.963477
4      0.314709
         ...
195    0.904718
196    0.129586
197    0.438650
198    0.478065
199    0.218471
Length: 200, dtype: float64